<h1>Welcome to Home Page</h1>
<p>Welcome back <%= @current_user.email if @current_user.present? %></p>
<p>Here you can see the pokemon that you currently have, add new ones, release them or battle (coming soon)</p>