<div class="homepage">
    <h1>Pokemon Party Viewer</h1>
    <div class="homepagetext">
    Welcome back <%= @current_user.email if @current_user.present? %>
    Here you can see the pokemon that you currently have, add new ones, release them or battle (coming soon)</div> 
</div>