<h1>Pokedex</h1>

<div class="controls">
    <%= link_to 'New Pokemon', new_pokemon_path(@pokemon) %>
</div>
<div class="infocard">
    <% @pokemons.each do |pokemon| %>
        <p>
            <%= link_to pokemon.name, pokemon_path(pokemon.id) %>
            <img class="thumbnail" src="<%= pokemon.image %>">
        </p>   
    <% end %>
</div>