<img src="https://archives.bulbagarden.net/media/upload/thumb/4/4b/Pok%C3%A9dex_logo.png/250px-Pok%C3%A9dex_logo.png" class="pokedex" alt="Pokedex">
<div class="controls">
    <%= link_to 'New Pokemon', new_pokemon_path(@pokemon) %>
</div>
<div class="infocard">
    <% @pokemons.each do |pokemon| %>
        <p>
            <%= link_to pokemon.name, pokemon_path(pokemon.id) %>
            <img class="thumbnail" src="<%= pokemon.image %>">
        </p>   
    <% end %>
</div>