body {
    background-color: #98b09a;
    font-family: 'Ubuntu Mono', monospace;
}

form {
    display: grid;
    justify-content: start;
    justify-items: end;
    grid-gap: 2px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
    display: grid;
}

.Party {
    text-align: center;
    width: 20%;
    display: block;
    margin: 0 auto;
}

.PokemonEntry {
    background-image: url("https://i.imgflip.com/2vrpup.jpg?a460680");
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
}

.NameInPokedex {
    /* text-align: center; */
    font-size: xx-large;
    position: relative;
    left: 500px;
    top: 80px;
}

.TypeInPokedex {
    /* text-align: center; */
    font-size: xx-large;
    position: relative;
    left: 500px;
    top: 90px;
}

.DescriptionInPokedex {
    font-size: x-large;
    position: relative;
    left: 150px;
    top: 390px;
    max-width: 70%;
}

.HeightInPokedex {
    font-size: x-large;
    position: relative;
    left: 650px;
    top: 170px;
    max-width: 70%;
}

.WeightInPokedex {
    font-size: x-large;
    position: relative;
    left: 650px;
    top: 200px;
    max-width: 70%;
}

.infocard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    text-align: center;
}

button {
    margin: 5px 20px 0px 0px;
}

.controlsPokedex {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

nav {
    text-align: center;
}

.feature {
    width: 30%;
    position: relative;
    left: 60px;
    top: -80px
}

/* .PokemonText {
    position: relative;
} */

.featureMoves {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.textAboveGrid {
    min-height: 90px;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.box1 { 
    font-size:15px; 
    font-family:Tahoma; 
    padding-left:15px; 
    border:1px solid red; 
    overflow:hidden; 
    display: inline 
}

.PartyPokemon {
    min-height: 90px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.party {
    display: block;
    margin: 0 auto;
}

.Water  {
    color: #0080ff;
}

.Fire {
    color: #d52100;
}

.Grass {
    color: #5cb737;
}

.Poison {
    color: #88447a;
}

.Ground {
    color: #bf9926;
}

.Bug {
    color: #83901a;
}

.Flying {
    color: #556dff;
}

.Dragon {
    color: #4e38e9;
}

.Normal {
    color: #797964;
}

.Electric {
    color: #c90;
}

.Ice {
    color: #0af;
}

.Rock {
    color: #a59249;
}

.Psychic {
    color: #ff227a;
}

.Ghost {
    color: #5454b3;
}

.Fighting {
    color: #a84d3d;
}

.controls {
    text-align: center;
}

h1 {
    text-align: center;
    width: 100%;
}

h2 {
    text-align: center;
}